

<div class="container-fluid bg-light p-5 mb-5" id="catalogueProduits">
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="sidebar border-end">
                    <h4>Nos catégories</h4>
                    <div class="container my-4">
                        <form id="filter-form">
                            {% for filter in filters %}
                                <div class="form-check">
                                    <input class="form-check-input parentCase" id="filter-{{ filter.idCategory }}" type="checkbox" value="{{ filter.idCategory }}">
                                    <label class="form-check-label" for="filter-{{ filter.name }}">
                                        {{ filter.name }}
                                    </label>
                                </div>
                            {% endfor %}

                            <button type="button" id="apply-filters" class="px-4 btn-dark-NDG">Appliquer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="catalog">
                    <h2>Nos produits</h2>
                    <div id="products" class="row">
                        {# Affichage des produits associés aux filtres sélectionnés #}
                        {% for product in products %}
                            <div class="col-md-6 col-lg-4 mb-4 product-item" data-categories="{{ product.category }}">
                                <div class="card cardProduct" id="product-{{ product.idProduct}}" value="category-{{ product.category}}">
                                    <img src="{{ product.picture }}">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">{{ product.name }}</h5>
                                        <p class="card-text text-center">{{ product.price }} €</p>
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-4 d-flex justify-content-center">
                                                <button class="py-2 px-4 btn-dark-NDG">
                                                    <i class="fa-solid fa-cart-shopping text-center" width="25" height="25"></i>
                                                </button>
                                            </div>
                                            <div class="col-4 d-flex justify-content-center">
                                                <button href="" class="py-2 px-4 btn-green-NDG">Voir</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        // Fonction pour soumettre le formulaire avec les filtres sélectionnés
        function applyFilters() {
            var checkedFilters = document.querySelectorAll('input.parentCase:checked'); // on récup tous les input parentCase qui sont cochés 
            var selectedFilters = []; // on crée un tableau pour stocker les valeurs des filtres dedans
            checkedFilters.forEach(function(filter) { //on parcourt tt les éléments et on push la valeur du filtre dans le tableau
                selectedFilters.push(filter.value);
            });
            var queryString = selectedFilters.length > 0 ? '?filters=' + selectedFilters.join('-') : ''; //on crée une chaine de requête pour les filtres sélectionnés qui ressemblera à ca : ?filters=valeur1,valeur2,...
            var url = "{{ path('shop') }}" + queryString; //on affiche l'url
            window.location.href = url; //on redirige vers l'url construite avec les filtres sélectionnés
        }

        document.getElementById('apply-filters').addEventListener('click', function(event) { //lorsque le bouton "appliquer" est cliqué on applique la fonction
            event.preventDefault();
            applyFilters();
        });

        // Appliquer les filtres lorsqu'un filtre est sélectionné
        document.querySelectorAll('input.parentCase').forEach(function(filter) { // ici même principe, simplement ça permet d'écouter quand on déselectionne un filtre ou qu'on en sélectionne encore, pour tout envoyer
            filter.addEventListener('change', function() {
                applyFilters();
            });
        });
    });
</script>


</div>

    {# function showSubFilters(){
      var checkedBoxParent = document.querySelectorAll('input.parentCase:checked'); // on recupere les cases cochées niveau parent
      document.querySelectorAll(".subFilterStyle").forEach(function(elt) { // on fait une fonction qui permet de cacher tous les groupes de sous-filtres
        elt.style.display="none";
      });
      checkedBoxParent.forEach(function(checkedBox) { // on fait une fonction qui permet d'afficher les groupes de sous-filtres associées aux cases parents cochées en récupérant l'id parent et en vérifiant s'il matche avec ceux enfants
        var idParent = checkedBox.value;
        document.getElementById('filterParent-' + idParent).style.display="block";
      });
    } #}

    {# function showSubFilters() {
      var checkedBoxParent = document.querySelectorAll('input.parentCase:checked'); // on recupere les cases cochées niveau parent
      $(document).ready(function() {
      // Affiche les sous-filtres correspondant aux catégories sélectionnées
      $('#apply-filters').click(function() {
        var checkedCategories = $('input.parentCase:checked').map(function() {
          return $(this).val();
        }).get();

        // Récupère les sous-filtres correspondant aux catégories sélectionnées
        var subFilters = $('.subFilterStyle').filter(function() {
          return $(this).data('category') in checkedCategories;
        });

        // Affiche les sous-filtres
        subFilters.show();
      });
    })}; #}